<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"/>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
<a th:href="@{/customer/insert}" class="btn btn-success mb-3">Tambah Customer</a>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nama</th>
        <th>Alamat</th>
        <th>Kota</th>
        <th>Provinsi</th>
        <th>Tanggal Registrasi</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${list}" th:object="${customer}">
        <td th:text="*{id}"></td>
        <td th:text="*{nama}"></td>
        <td th:text="*{alamat}"></td>
        <td th:text="*{kota}"></td>
        <td th:text="*{provinsi}"></td>
        <td th:text="*{registrasi}"></td>
        <td th:text="*{status}"></td>
    </tr>
    </tbody>
    <tfoot>
    </tfoot>
</table>

<script>
    $(document).ready(function () {
    $('#example').DataTable();
});
</script>
</body>

</html>